/* Sidebar styling */
.stSidebar {
  background-color: #ffffff; 
  padding: 20px; 
  border-right: 2px solid #ffffff;
}

.stSidebar h1 {
  color: #938686;
}

/* Headings styling */
h1, h2, h3, h4 {
  color: #ffffffc7; 
  font-family: 'Arial', sans-serif; 
  text-align: center;
}

/* Container padding */
[data-testid="block-container"] {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: -7rem;
}
